<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />

	<title>MC Manager</title>

	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap-reboot.min.css" />
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap-utilities.min.css" />

	<script src="static/bootstrap/js/bootstrap.min.js" defer></script>
	<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
	<script src="static/bootstrap/js/bootstrap.esm.min.js" defer></script>

	<link href="static/{{page}}.css" rel="stylesheet" type="text/css" />
	<script src="static/{{page}}.js" defer></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">MC Admin</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/world">World</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">TBD...</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		{% block main_content %}
		{% endblock %}
	</div>
	
</body>

</html>