{% extends "base.html" %} 
{% block manager_active %}active{% endblock %} 
{% block main_content %}
<div id="mainContent">
	<h1>Manager</h1>
	<div>
		<ul>
			<li>
				<a href="/players">Players</a>
			</li>
			<li>
				<a href="/world">World</a>
			</li>
		</ul>
	</div>
	<div>
		<h2>Players</h2>
		<ul>
			{% for player in whitelist: %}
			<li>
				<div class="name">{{player.name}}</div>
				<div class="uuid">{{player.uuid}}</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h2>World</h2>
		<input id="dayButton" type="button" value="Day" />
		<input id="weatherButton" type="button" value="Clear" />
	</div>
</div>
{% endblock %}