<!doctype html>
<head>
	<title>Minecraft Manager</title>
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css"/>
	<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
	<link href="static/{{page}}.css" rel="stylesheet" type="text/css"/>
	<script src="static/{{page}}.js" defer></script>
</head>
<body>
	<h1>Players</h1>
    <div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </div>
	<div>
		<ul>
		{% for player in whitelist: %}
			<li>
				<div class="name">{{player.name}}</div>
				<div class="uuid">{{player.uuid}}</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</body>
