<!doctype html>
<head>
	<title>Minecraft Manager</title>
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css"/>
	<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
	<link href="static/{{page}}.css" rel="stylesheet" type="text/css"/>
	<script src="static/{{page}}.js" defer></script>
</head>
<body>
	<h1>Players</h1>

    <div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </div>
	<div class="input-group mb-3">
		<label class="input-group-text" for="playerName">Player:</label>
		<input class="form-control" aria-label="Username" aria-describedby="basic-addon1" type="text" name="playerName" id="playerName"/>
	</div>
	<button id="addPlayerButton" class="btn btn-outline-primary">Add Player</button>
	<button id="removePlayerButton" class="btn btn-outline-primary">Remove Player</button>
	<div>
		<ul>
		{% for player in whitelist: %}
			<li>
				<div class="name">{{player.name}}</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</body>
