{% extends "base.html" %} 
{% block players_active %}active{% endblock %} 
{% block main_content %}
<div id="mainContent">
	<h1>Players</h1>
	<form>
		<div class="input-group input-group-sm mb-3">
  			<span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
  			<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
			<input type="button" class="btn btn-primary" value="Add">
		</div>
	</form>
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
  		The user <strong id="username">RedwardFlip</strong> does not exist!
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="accordion" id="playerList">
		{% for player in whitelist: %}
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading{{player.name}}">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{player.name}}" aria-expanded="false" aria-controls="collapse{{player.name}}">
        			{{player.name}}&nbsp;
					{% if 'op' == player.permissions %}
					<span class="badge bg-primary"> Operator</span>
					{% else %}
					<span class="badge bg-success"> Player</span>
					{% endif %}
				</button>
    		</h2>
    		<div id="collapse{{player.name}}" class="accordion-collapse collapse" aria-labelledby="heading{{player.name}}" data-bs-parent="#playerList">
      			<div class="accordion-body">
				{{player.uuid}}
      			</div>
    		</div>
  		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}